APP_PORT=3001
APP_ENV=development
APP_SERVICE_NAME=rpkm67-gateway

IMG_MAX_FILE_SIZE_MB=1
IMG_CROP_WIDTH=500
IMG_CROP_HEIGHT=500

REG_FIRSTDATE_START=2024-07-21T07:00:00Z
REG_RPKM_START=2024-07-20T20:00:00Z

SERVICE_AUTH=localhost:3002
SERVICE_BACKEND=localhost:3003
SERVICE_CHECKIN=localhost:3004
SERVICE_STORE=localhost:3005

CORS_ORIGINS=http://localhost:3000

DB_URL=postgres://root:1234@localhost:5432/rpkm67_db

TRACER_ENDPOINT=localhost:4318